doctype html
html 
    head 
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(http-equiv="refresh" content= delayref)

block content
    h2
        span(title="status address: 320" style="color:blue") Status: 
        case status
            when 1
                span Supply
            when 2
                span Working
            when 3
                span Alarm!
            default 
                span #{status} ?
    table
        tr
            td(valign="top")
                h3 Chiller alarms
                table(border="1")
                    tr
                        th   No
                        th   Address
                        th   Bit
                        th   Description
                        th   Value
                    each val in alarms.chiller
                        tr
                            td= val.No
                            td= val.Address
                            td= val.Bit
                            td= val.Description
                            if val.Value==0
                                td(style='background-color:lime')= val.Value
                            else 
                                td(style='background-color:red')= val.Value
                a(href="/") Home
            td(valign="top") 
                h3 CO<sub>2</sub> alarms
                table(border="1")
                    tr 
                        th   No
                        th   Address
                        th   Bit
                        th   Description
                        th   Value
                    each val in alarms.co2
                        tr 
                            td= val.No
                            td= val.Address 
                            td= val.Bit 
                            td= val.Description 
                            if val.Value==0
                                td(style='background-color:lime')= val.Value
                            else 
                                td(style='background-color:red')= val.Value
            td(valign="top")
                h3 Log
                form(action= "/marta/alarms", method= "GET") 
                    label(for="refresh") Refresh delay:
                    <input type="number" name="delay" placeholder="Delay in s" size="5" value= "#{delayref}">
                    span  s 
                    <input type="submit" value="submit">
                table(border="1")
                    tr 
                        th  Datetime 
                        th  Type
                        th  Name 
                        th  State
                    each val in log     
                        tr 
                            td= val.Date
                            td= val.Type
                            td= val.Name
                            if val.State=="on"
                                td(style='background-color:red')= val.State
                            else
                                td(style='background-color:lime')= val.State

