extends layout

block content

    H2 Parameters 

    form(action= "/marta/paramactions", method= "get")
        table 
            tr 
                th(colspan="2") Actions 
            tr 
                td  
                    label(for="chiller") Start chiller 
                td 
                    <input type="checkbox" name="chiller">
            tr 
                td 
                    label(for="co2") Start CO<sub>2</sub> 
                td 
                    <input type="checkbox" name="co2" >
            tr 
                td 
                    label(for="flow") Set flow active
                td 
                    <input type="checkbox" name="flow" >
            tr 
                td 
                    label(for="reset") Alarm reset
                td 
                    <input type="checkbox" name="reset" >
            tr 
                td(colspan="2") 
                    <input type="submit" value="Send">
    br
    form(action= "/marta/paramset", method= "get")
        table 
            tr 
                th Parameter 
                th Value   
            tr 
                td  
                    label(for="temp") Temperature
                td 
                    <input type="number" name="temp" step="0.1" placeholder="Temperature setpoint" size="5" value="#{temperature}">
            tr 
                td 
                    label(for="speed") Speed 
                td 
                    <input type="number" name="speed" placeholder="Speed setpoint" size="5" value="#{speed}">
            tr 
                td 
                    label(for="flow") Flow 
                td 
                    <input type="number" name="flow" step="0.1" placeholder="Flow setpoint" size="5" value="#{flow}">

            tr 
                td(colspan="2") 
                    <input type="submit" value="Set parameters">


        
