<html>
<head>
<style>
</style>
<script>
</script>
</head> 
<body>
    <h2>Acquitision Metatracker </h2>
    <fieldset><legend>Sensor</legend>
    <form action = "stream" method = "POST" enctype = "multipart/form-data">
        <table border="1">
            <tr><th>mt1</th><th>mt2</th><th>mt3</th><th>mt4</th></tr>
            <tr><td><input type = "checkbox" name = "mt1"/></td>
                <td><input type = "checkbox" name = "mt2"/></td>
                <td><input type = "checkbox" name = "mt3"/></td>
                <td><input type = "checkbox" name = "mt4"/></td>
            </tr>
        </table>
        <!-- <label for="name">Sensor name</label><select name="name"><option>mt1</option> <option>mt2</option> <option>mt3</option> <option>mt4</option></select> 
        <br/> -->
        <table border="1">
            <tr>
                <td> <label for="duration">Duration</label></td>
                <td> <input type = "text" name = "duration"  value="5" title = "Acquisition duration in s, m(inutes), h, d(ays)"/></td>
                <td> <label for="rate">Data rate</label></td>
                <td> <input type = "text" name = "rate"  value="100" title = "Output Data Rate in Hz, for accelerometer and gyroscope"/></td>
                <td> <label for="period">Period</label></td>
                <td> <input type = "text" name = "period"  value="1" title = "Period of acquisition in s for Temperature, Pressure, Humidity"/></td>
            </tr><td> <label for="token">Token</label></td>
                <td colspan="5"> <input type = "text" name = "token" size="90" title = "InfluxDB Authentication token" value="{{ token }}" style="{% if token=='no token provided!' %}color:red{% endif %}"/> </td>
            </tr>
        </table>
        <table border="1"><tr><td>Temperature</td><td>Pressure</td><td>Humidity</td><td>Acceleration</td><td>Gyroscope</td></tr>
        <tr align="center">
        <td><input type = "checkbox" name = "temperature" /></td>
        <td><input type = "checkbox" name = "pressure" /></td>
        <td><input type = "checkbox" name = "humidity" /></td>
        <td><input type = "checkbox" name = "accelerometer" /></td>
        <td><input type = "checkbox" name = "gyroscope" /></td>
        <!--td><input type = "checkbox" name = "light" checked/></td-->
        </tr></table>
        <br/>
        <button type = "submit" name="acq" value="stream" accesskey="S">Start Streaming</button>
        <button type = "submit" name="acq" value="log" accesskey="L">Start Logging</button>
        <small><label for="fullreset">Full reset</label></small><input type = "checkbox" name = "fullreset" title = "Performs a full reset after logging"/>
    </form>
    </fieldset>
    <form action="main">
        <input type = "submit" value="Refresh" accesskey="R"/>
    </form>
    <div id="idTaskList"/>
    <table border="1">
    <tr><th>Sensor</th><th>Begin</th><th>End</th><th>Type</th></tr>
        {% for line in data: %}
            <tr><td>{{ line.name }}</td><td>{{ line.begin.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ line.end.strftime("%Y-%m-%d %H:%M:%S") }}</td><td>{{ line.type }}</td></tr>
        {% endfor %}
    </table>
    <br>
    <a href="http://sbgat391w:8086" target="_blank">Time Series Data Base</a>
    <br>
    login : integration (integration)
    <br>
    Dashboard : Metatracker
    <br>
    <form action="import" method="POST" enctype = "multipart/form-data">
     <label for="importFile">Import data file </label><input name="importFile" type="file" accept=".csv,.influx" oninput="form.submit()"/>
    </form>
    <form method="POST" action="quit"><button type="submit">Quit</button></form>
    <p>Version 1.3.4</p>
</body>
</html>
