<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%if config.autorefresh and config.delay %}<meta http-equiv="refresh" content="{{ config.delay }}">{%endif%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <title>High Voltage Measures</title>
</head>
<body>
    <h3 title="{{version}}">Measured values</h3>
    <table class="table-bordered">
        <thead>
        <tr><th>Channel #</th><th>Voltage</th><th>Current</th><th><a href="{{ config.db_url }}" target="_blank">InfluxDB</a></th></tr>
        </thead>
        {% for ch in channels %}
            <tr>
                <td class="text-center">{{ ch.num }}</td>
                <td><input type="checkbox" id="Volt{{ ch.num }}" onclick="changeCheckbox(this)" autocomplete="off"
                    {%if ch.getVoltage%}checked{%endif%} title="Check to read this value"> {{ ch.voltage }} V</td>
                <td><input type="checkbox" id="Curr{{ ch.num }}" onclick="changeCheckbox(this)" autocomplete="off"
                    {%if ch.getCurrent%}checked{%endif%} title="Check to read this value"> {{ ch.current }} A</td>
                <td class="text-center"><input type="checkbox" id="Influx{{ ch.num }}" onclick="changeCheckbox(this)" autocomplete="off"
                    {%if ch.sendToDb%}checked{%endif%} title="Check to write data into InfluxDB"></td>
            </tr>
        {% endfor %}
    </table>
    <h4>Configuration</h4>
    <form action="/save_config" method="POST" name="frmCfg">
    <table style="border: 1px solid;">
        <tr> <td>Host:</td>
            <td><input name="host" type="text" value="{{ config.host }}"> 
                <a onclick="window.open(`http://${frmCfg.host.value}/en/control#&nav.sidebarnavi.en/control/0-0`,'_blank')" href="#" title="Open HV device control page">&UpperRightArrow;</a>
            </td>
        </tr>
        <tr> <td>Port:</td><td><input name="port" type="number" value="{{ config.port }}" min="1" max="65535"></td> </tr>
        <tr> <td>Measure delay:</td><td><input name="delay" type="number" value="{{ config.delay }}" min="0" max="9999"> s</td> </tr>
        <tr> <td>Auto refresh:</td><td><input name="autorefresh" type="checkbox" {%if config.autorefresh %}checked{%endif%}>    (Uncheck and validate to ease configuration without refresh)</td> </tr>
        <tr> <td>Channel:</td><td><input name="channel" type="number" value="{{ config.channel }}" min="0" max="3"></td> </tr>
        <tr> <td>Minimum:</td><td><input name="min" type="number" value="{{ config.min }}" step="any"> V</td> </tr>
        <tr> <td>Maximum:</td><td><input name="max" type="number" value="{{ config.max }}" step="any"> V</td> </tr>
        <tr> <td>Step:</td><td><input name="step" type="number" value="{{ config.step }}" step="any"> V</td> </tr>
        <tr> <td>Stabilisation delay:</td><td><input name="stabilisation" type="number" value="{{ config.stabilisation }}" min="0" max="9999"> s</td> </tr>
        <tr> <td>Average window duration:</td><td><input name="average" type="number" value="{{ config.average }}" min="0" max="9999"> s</td> </tr>
        <tr> <td>&Delta;I window:</td><td><input name="delta" type="number" value="{{ config.delta }}" min="0" max="99"> nb measures at begin and end of each step</td> </tr>
        <tr> <td>Max current alert:</td><td><input name="alert" type="number" value="{{ config.alert }}" min="0" step="any"> A</td> </tr>
        <tr> <td></td><td><button type="submit" title="Save configuration into config.json file">Validate</button></td> </tr>
    </table>
    </form>
    <h4>IV scan</h4>
    <!-- <input type="checkbox" id="toggleIV" class="btn-check" onclick="startIV()" autocomplete="off">
    <label class="btn btn-primary" for="toggleIV">Start</label> -->
    <div class="form-check form-switch" {%if alert %}style="border: 10px solid red; width: 500px;"{%endif%}>
        <input class="form-check-input {%if fsm_running %}btn-success{%endif%}" type="checkbox" role="switch" id="toggleIV" onclick="startIV()" autocomplete="off" 
        style="height: 30px;width: 50px;"
        {% if fsm_running %}checked{% endif %}>
        <label class="form-check-label" for="toggleIV">&nbsp;{{fsm_state}}</label>
        {%if alert %}<p><label class="btn-danger" for="toggleIV">Current > {{ config.alert }} A, click to stop</label></p>{%endif%}
    </div>
    <br>
    {% if not config.autorefresh and fsm_running %} 
        <div><p>Refresh page to update values (or check Autorefresh)</p></div>
    {% endif %}
    <div><a class="btn btn-info {%if not available_result%}disabled{%endif%}" href="/download_result">Download result</a></div>
    {%if error %}<div><br><pre class="bi bi-exclamation-triangle" href="#" style="color:red;">{{error}}</pre></div>{% endif %}
    <div><br><a title="Version: {{version}}" href="https://gitlab.cern.ch/chbonnin/tb2s/-/tree/master/src/ise">&#9432;</a></div><!--ⓘ-->
    <script>

        function changeCheckbox(cpt){
            const Http = new XMLHttpRequest(); 
            Http.responseType='text'; 
            const frm = new FormData()
            frm.append("id", cpt.id)
            frm.append("checked", cpt.checked)
            Http.open("POST", "/change_checkbox")
            Http.send(frm)
        }

        function startIV(){
            const Http = new XMLHttpRequest(); 
            Http.responseType='text'; 
            const frm = new FormData()
            Http.open("POST", "/start_iv")
            Http.send(frm)
            Http.onload=() => {
                location.reload()
            }
        }
    </script>
</body>
</html>

