<html>
<body>
<table><tr>
    <td valign='top'>
        <form action="tables">Choose a base<br>
            <select name="folder" onchange="this.form.submit()" size="2">
                {% for elem in folders %} <option {% if folder == elem %}selected{% endif %} value="{{elem}}">
                    {% if elem == "trker_cmsr" %}Production {% else %} Development {% endif %}</option> 
                {%endfor%}
            </select>
        </form>
        <form action="tableContent">Choose a table<br>
            <select name="table" onchange="this.form.submit()">
                {% for elem in tables %} <option {% if table == elem %}selected{% endif %}>{{elem}}</option> {%endfor%}
            </select>
            <br><label for="idPageSize">Page size: </label><input id="idPageSize" name="size" type="number" value="{{size}}" size="4">
            <br><label for="idPageNum">Page num: </label><input id="idPageNum" name="page" type="number" value="{{page}}" size="3" title="0 to display table info and count results">
            <br><input type="submit" name="html">
            <br><input type="submit" value="export" name="export">
        </form>

    </td>
    <td>
        <table border="1">
            <tr><td/>{% for col in cols %}<th>{{col}}</th> {%endfor%}</tr>
            {% for dat in data %}
                <tr>
                    <td align="center"><small>{{forloop.counter}}</small></td>
                    {% for val in dat %}<td>{{val}}</td> {%endfor%}                 
                </tr>
            {%endfor%}
        </table>
    </td>
</table>
    
</body>
</html>
